<%- model_class = Articulo-%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render 'form' %>

<%= link_to 'Show', @articulo %> |
<%= link_to 'Back', articulos_path %>
